#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } 
  
  
  :root {
    
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87); 
    /* above is text color */
    background-color: #F2F4F7;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
    body {
        background-image: linear-gradient(to right, rgb(22, 86, 166) 0%, rgb(22, 86, 166) 35%, white 35%, white 100%);
        }
  
        .wrapper{
            width: 420px;
            background-color: white;
            color:black;
            border-radius: 20px;
            padding: 30px 40px;
            border: 2px solid black;
            margin-left: 650px;
            margin-top: -600px;
                
          }
  
  
  .submit-button {
    position: absolute;
    bottom: -50px;
    right: 20px;
    width: 100px;
    
    margin-right: 150px;
    padding: 10px 20px;
    background-color: #007FA3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;          /* Adjust font size if necessary */
    transition: background-color 0.3s ease;
  }
  
  

  .submit-button:hover {
    background-color: #25355A;
  }
  textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    width: 300px;
    font-size: 16px;
    color: black;
    background-color: white; /* Light gray background */
    border: 2px solid black; /* Border color */
    border-radius: 40px; /* Fully rounded corners */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  input{
    background-color: #ffffff; /* White background */
    color: #000000;           /* Black text */
    width: 80%;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;             /* Prevent resizing */
    font-size: 16px;          /* Adjust font size if necessary */
    box-sizing: border-box;   /* Include padding and border in the element's total width and height */
  
  }