/* Handles styling for chatroom component. */
.chatroom {
  margin: 0;
  padding: 0;
  height: 92vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
} 

.chatroom {
  .str-chat-channel-list {
    position: fixed;
    z-index: 1;
    width: 0;

    &--open {
      width: 100%;
    }
  }

  .str-chat-channel {
    width: 100%;
  }

  .str-chat__thread {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
  }

  .str-chat__channel-header .str-chat__header-hamburger {
    width: 30px;
    height: 38px;
    padding: var(--xxs-p);
    margin-right: var(--xs-m);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: transparent;

    &:hover {
      svg path {
        fill: var(--primary-color);
      }
    }
  }

  @media screen and (min-width: 768px) {
    .str-chat-channel-list {
      width: 30%;
      max-width: 420px;
      position: initial;
      z-index: 0;
    }

    .str-chat__thread {
      position: initial;
      z-index: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .str-chat__thread {
      width: 45%;
    }

    .str-chat__channel-header .str-chat__header-hamburger {
      display: none;
    }
  }
  
}

@media screen and (max-height: 768px) {
  .chatroom {
    height: 90vh;
  }
}

@media screen and (max-height: 612px) {
  .chatroom {
    height: 88vh;
  }
}

@media screen and (max-height: 496px) {
  .chatroom {
    height: 86vh;
  }
}

@media screen and (max-height: 382px) {
  .chatroom {
    height: 84vh;
  }
}