.homepage {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .header-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .header2-home {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 200px;
  }

  .header-userbutton {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-bar input {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .filter-button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  .setting-button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    margin-bottom: 20px;
  }

  .tutors-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: left;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 150px;
  }
  
  .tutor-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    width: 200px;
    height: 250px; /* Set height */
  }
  
  .tutor-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .tutor-info {
    padding: 10px;
  }
  
  .tutor-name {
    font-weight: bold;
    margin-top: 8px;
}

  .tutor-rating {
    color: gold;
    font-size: 1.2em;
  }
  