body {
    background-image: linear-gradient(to right, rgb(22, 86, 166) 0%, rgb(22, 86, 166) 35%, white 35%, white 100%);
}

.pip-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;
}
.pip-image-container {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: flex-start; 
}

.pip-image-container img {
    height: 600px;
    width: 500px;
    justify-content: flex-start; 
}
.pip-wrapper {
    width: 420px;
    background-color: white;
    color:black;
    border-radius: 20px;
    padding: 30px 40px;
    border: 2px solid black;
    backdrop-filter: blur(30px);
    margin-left: 800px;
    margin-top: 80px;
}
.pip-wrapper h2 {
    font-size: 30px;
    text-align: center;
    color: black;
}

.pip-next-button {
    width: 200px;
    border: 2px black solid;
    border-radius: 40px;
    margin-left: 70px;
}